
<input type="text" name="txt2" @bind-value="@NewMessage" />

<input type="button" name="btn1" value="Cambiar texto" @onclick="ChangeText" />
<div>
    <p>@message</p>
</div>
@code
{
    [Parameter]
    public string Message { get; set; }
    string message = "Un contenido";
    string NewMessage = "";

    protected override async Task OnInitializedAsync()
    {
        message = Message;

    }

    private void ChangeText()
    {
        message = NewMessage;
    }
}